@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Square Peg, cursive, system-ui, sans-serif;
  }
}
@layer components {
  .clock::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
  }
  .clock .hour,
  .clock .min,
  .clock .sec{
    position: absolute;
  }
  .clock .hour, .hr{
    width: 60px;
    height: 60px;
  }
  .clock .min, .mn{
    width: 80px;
    height: 80px;
  }
  .clock .sec, .sc{
    width: 95px;
    height: 95px;
  }
  .hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
  }
  .hr::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background: #10ff2561;
    border-radius: 6px 6px 0 0;
    z-index: 10;
  }
  .mn::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 40px;
    background: #fff;
    border-radius: 6px 6px 0 0;
    z-index: 11;
  }
  .sc::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    background: #ff105e;
    border-radius: 6px 6px 0 0;
    z-index: 12;
  }
}